# Notebook para conexión con las bases

Este notebook inicialmente consiste en un ejemplo pequeño para aprender a utilizar **mysql** desde **python**, realizando una query para crear una base de datos llamada *test*

### Ejemplo de conexión

In [5]:
import mysql.connector as connection
import pandas as pd

In [4]:
try:
    mydb=connection.connect(
    host="localhost",
    user="root",
    passwd="daniel97",
    use_pure=True)
    #Se mira si hay conexión
    
    query="create database Test"
    
    cursor=mydb.cursor() #Cursor para aplicar queries
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

1007 (HY000): Can't create database 'Test'; database exists

## Conexión base de datos NBA

En esta parte nos conectamos a la base de datos *NBA* creada dentro de **MySQL por medio de Workbench**

In [7]:
NBA=connection.connect(
    host="localhost",
    user="root",
    passwd="daniel97",
    db="NBA"
)

In [10]:
tabla="games"
query=f"""
select SEASON as temporada,
    count(SEASON) as conteo
from NBA.{tabla}
group by SEASON
order by SEASON desc
"""

En la siguiente función se utiliza pandas.read_sql_query(query, conexión_bd), con esto se puede realizar la consulta y guardar el resultado como un DataFrame

In [11]:
temporadas=pd.read_sql_query(query,NBA)

In [13]:
temporadas.head()

   temporada  conteo
0       2022     542
1       2021    1389
2       2020    1249
3       2019    1241
4       2018    1378